//react-tree-graph
div.custom_container {
    background-color: #242424;
}

//Page Styles
.mainPage {
    height: 100%;
    display: flex;
    min-height: 800px;
}


.LearningTreePageStyle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 80%;
    background-color: #37474f;
}
.mainTreePart{
    display:flex;
    justify-content:center;
}
.title {
    display:flex;
    width: 98%;
    padding-top: 7px;
    height: 50px;
    font-family: ROBOTO;
    font-size: 30px;
    font-weight: bold;
    color: #eeeeee;
    margin: 10px 0 !important;
    margin-bottom: 20px !important;
}
.subtitle1 {
    width: 20%;
    min-width: 200px;
}
.subtitle2 {
    width: 80%;
    min-width: 200px;
}
.graphPart {
    margin-right: 1%;
    width: 82%;
    background-color: #757575 !important;
}
.rightSideBar {
    min-width: 180px;
    width: 17%;
    background-color: #757575 !important;
    color: white;
}
.nodeRepresentation {
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
}
.nodeRepresentationCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%
    
}
.nodeRepresentationCircleNotLearnedTopic {
    .nodeRepresentationCircle;
    background-color: #00b0ff !important;
}
.nodeRepresentationCircleLearnedTopic {
    .nodeRepresentationCircle;
    background-color: #33eb91 !important;
}
.sideBarCircleTitle {
    padding-top: 3px;
    margin-left: 10px;
    font-family: ROBOTO;
    color: #e5e5e5;
}
// Learning tree dialog styles
.popUpDialogButton {
    width: 40%;
    min-width: 220px !important;
    height: 60px;
    margin-bottom: 15px !important;
}
.topicLearnedMembersTitle {
    border-bottom: solid 2px #808080;
    margin-bottom: 15px !important;
    background-color: #13BC75;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
}
.popUpButtonPicture {
    font-size: 20px !important;
    margin-left: 5px;
}
.topicLearnedMembersButtons {
    justify-content: space-around;
    display: flex;
}

.title {
    margin: 4px 0 2px;
}
.demo {
    background-color: white;
    margin-left: 20px!important;

}
//Nodes Legend
.nodesLegend{

}
.nodeslegendTitle {
    text-align: center;
    margin-top: 10px;
    color: #eeeeee;
    font-size: 15px !important;
}
// Selecting tree type
.selectTreeTypeBody {
    margin-top: 400px !important;
    width: 100% !important;
}
.selectTreeTypeLegend {
    font-size: 15px !important;
    color: #eeeeee !important;
    margin-left: 24px !important;
    text-align: center !important;
}
.radioButtonRoot {
    margin: 0 !important;
    color: #eeeeee;
}
.radioButtonLabel {
    color: #eeeeee;
}
.selectTreeTypeButton {
    margin-left: 35% !important;
}
//Learning tree on node click dialog styles
.nodeMembersLearnedTopicsMemberLabel {
    font-size: 15px !important;
    display:flex !important;
}
.nodeDialogStyles {
    width: 500px !important;
}
.listItemNameStyle {
    width: 70% !important;
}
.listItemRoleStyle {
    font-weight: 100;
}

//Select team dialog

.selectTeamDialog {
    width: 500px;
}
.selectTeamTitle {
    border-bottom: solid 2px #808080;
    margin-bottom: 15px !important;
    background-color: #3f51b5;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
}
.selectTeamBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.selectTeam {
    width: 250px;
}
.selectTeamButtons {
    justify-content: space-around;
    display: flex;
}
.popUpButtonLabel {
    font-size: 12px !important
}
//Users node popup
.usersListGrid{
    max-width: 100% !important;
}
//Popup buttons
.actionButton {
    .popUpDialogButton;
    color: #FFFFFF !important;
    border: solid #6200ea !important;
    background-color: #3d5afe !important;
}
.closeButton {
    .popUpDialogButton;
    color: #808080 !important;
    border: solid #808080 !important;
    background-color: #FFFFFF !important;
}